<config>
	<!-- ... -->
	<sections>
		<!-- ... -->
		<customer>
			<groups>
				<sso>
					<label>Single SignOn</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<privateKey>
							<label>Private Key</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</privateKey>
						<publicKey>
							<label>Public Key</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</publicKey>
						<target>
							<label>Target</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</target>
                        <logouturl>
                            <label>Logout Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logouturl>
					</fields>
				</sso>
			</groups>
		</customer>
		<!-- ... -->
	</sections>
</config>